Build started...
Build succeeded.
START TRANSACTION;
UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-01T18:30:27.066077Z'
WHERE "PermisoId" = 1 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-01T18:30:27.066227Z'
WHERE "PermisoId" = 2 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-01T18:30:27.066228Z'
WHERE "PermisoId" = 3 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-01T18:30:27.066228Z'
WHERE "PermisoId" = 4 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-01T18:30:27.066228Z'
WHERE "PermisoId" = 5 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-01T18:30:27.066229Z'
WHERE "PermisoId" = 6 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-01T18:30:27.066229Z'
WHERE "PermisoId" = 7 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-01T18:30:27.066229Z'
WHERE "PermisoId" = 8 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-01T18:30:27.066229Z'
WHERE "PermisoId" = 9 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-01T18:30:27.066229Z'
WHERE "PermisoId" = 10 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-01T18:30:27.06623Z'
WHERE "PermisoId" = 11 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-01T18:30:27.06623Z'
WHERE "PermisoId" = 12 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-01T18:30:27.06623Z'
WHERE "PermisoId" = 13 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-01T18:30:27.06623Z'
WHERE "PermisoId" = 14 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-01T18:30:27.06623Z'
WHERE "PermisoId" = 15 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-01T18:30:27.06623Z'
WHERE "PermisoId" = 16 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-01T18:30:27.066231Z'
WHERE "PermisoId" = 17 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-01T18:30:27.066231Z'
WHERE "PermisoId" = 18 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-01T18:30:27.066231Z'
WHERE "PermisoId" = 19 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-01T18:30:27.066231Z'
WHERE "PermisoId" = 20 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-01T18:30:27.066231Z'
WHERE "PermisoId" = 21 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-01T18:30:27.066231Z'
WHERE "PermisoId" = 22 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-01T18:30:27.066232Z'
WHERE "PermisoId" = 23 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-01T18:30:27.066232Z'
WHERE "PermisoId" = 24 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-01T18:30:27.066232Z'
WHERE "PermisoId" = 25 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-01T18:30:27.066232Z'
WHERE "PermisoId" = 26 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-01T18:30:27.066232Z'
WHERE "PermisoId" = 27 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-01T18:30:27.066232Z'
WHERE "PermisoId" = 28 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-01T18:30:27.066232Z'
WHERE "PermisoId" = 29 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-01T18:30:27.066233Z'
WHERE "PermisoId" = 30 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-01T18:30:27.066233Z'
WHERE "PermisoId" = 31 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-01T18:30:27.066233Z'
WHERE "PermisoId" = 32 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-01T18:30:27.066233Z'
WHERE "PermisoId" = 33 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-01T18:30:27.066233Z'
WHERE "PermisoId" = 34 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-01T18:30:27.066233Z'
WHERE "PermisoId" = 35 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-01T18:30:27.066233Z'
WHERE "PermisoId" = 36 AND "RolId" = 1;

UPDATE "Usuarios" SET "PasswordHash" = 'AQAAAAIAAYagAAAAEA0p+sF1vpuXNw2+WErqGUJlkpy9rHFeTn9FhZZjaA11lFQF579tRJZ8sQYYB3pFyQ=='
WHERE "Id" = 1;

INSERT INTO "Permisos" ("Nombre", "Modulo", "Descripcion") VALUES ('ventas:view_all', 'Ventas', 'Permite ver ventas de todos los usuarios');

INSERT INTO "Permisos" ("Nombre", "Modulo", "Descripcion") VALUES ('comisiones:view_all', 'Comisiones', 'Permite ver comisiones de todos los usuarios');

INSERT INTO "RolPermisos" ("RolId", "PermisoId", "FechaAsignacion") SELECT 1, "Id", NOW() FROM "Permisos" WHERE "Nombre" IN ('ventas:view_all', 'comisiones:view_all');

INSERT INTO "__EFMigrationsHistory" ("MigrationId", "ProductVersion")
VALUES ('20260401183029_AddViewAllPermissions', '10.0.2');

COMMIT;

START TRANSACTION;
ALTER TABLE "ReparticionesComision" DROP CONSTRAINT "FK_ReparticionesComision_Roles_RolId";

DROP TABLE "ProductoReglas";

ALTER TABLE "ReparticionesComision" ALTER COLUMN "RolId" DROP NOT NULL;

ALTER TABLE "ReparticionesComision" ADD "EquipoId" integer;

ALTER TABLE "ReglasComisiones" ADD "ValorVenta" numeric NOT NULL DEFAULT 0.0;

ALTER TABLE "Equipos" ADD "JefeEquipoId" integer;

CREATE TABLE "CarpetasReglas" (
    "Id" integer GENERATED BY DEFAULT AS IDENTITY,
    "Nombre" character varying(200) NOT NULL,
    "Activo" boolean NOT NULL,
    "ProveedorId" integer,
    CONSTRAINT "PK_CarpetasReglas" PRIMARY KEY ("Id"),
    CONSTRAINT "FK_CarpetasReglas_Proveedores_ProveedorId" FOREIGN KEY ("ProveedorId") REFERENCES "Proveedores" ("Id") ON DELETE SET NULL
);

CREATE TABLE "CarpetaReglasComision" (
    "CarpetaReglasId" integer NOT NULL,
    "ReglaComisionId" integer NOT NULL,
    CONSTRAINT "PK_CarpetaReglasComision" PRIMARY KEY ("CarpetaReglasId", "ReglaComisionId"),
    CONSTRAINT "FK_CarpetaReglasComision_CarpetasReglas_CarpetaReglasId" FOREIGN KEY ("CarpetaReglasId") REFERENCES "CarpetasReglas" ("Id") ON DELETE CASCADE,
    CONSTRAINT "FK_CarpetaReglasComision_ReglasComisiones_ReglaComisionId" FOREIGN KEY ("ReglaComisionId") REFERENCES "ReglasComisiones" ("Id") ON DELETE CASCADE
);

CREATE TABLE "ProductoCarpetas" (
    "ProductoId" integer NOT NULL,
    "CarpetaReglasId" integer NOT NULL,
    CONSTRAINT "PK_ProductoCarpetas" PRIMARY KEY ("ProductoId", "CarpetaReglasId"),
    CONSTRAINT "FK_ProductoCarpetas_CarpetasReglas_CarpetaReglasId" FOREIGN KEY ("CarpetaReglasId") REFERENCES "CarpetasReglas" ("Id") ON DELETE CASCADE,
    CONSTRAINT "FK_ProductoCarpetas_Productos_ProductoId" FOREIGN KEY ("ProductoId") REFERENCES "Productos" ("Id") ON DELETE CASCADE
);

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-05T16:18:51.661315Z'
WHERE "PermisoId" = 1 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-05T16:18:51.661412Z'
WHERE "PermisoId" = 2 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-05T16:18:51.661413Z'
WHERE "PermisoId" = 3 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-05T16:18:51.661413Z'
WHERE "PermisoId" = 4 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-05T16:18:51.661413Z'
WHERE "PermisoId" = 5 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-05T16:18:51.661414Z'
WHERE "PermisoId" = 6 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-05T16:18:51.661414Z'
WHERE "PermisoId" = 7 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-05T16:18:51.661414Z'
WHERE "PermisoId" = 8 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-05T16:18:51.661414Z'
WHERE "PermisoId" = 9 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-05T16:18:51.661414Z'
WHERE "PermisoId" = 10 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-05T16:18:51.661415Z'
WHERE "PermisoId" = 11 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-05T16:18:51.661415Z'
WHERE "PermisoId" = 12 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-05T16:18:51.661415Z'
WHERE "PermisoId" = 13 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-05T16:18:51.661415Z'
WHERE "PermisoId" = 14 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-05T16:18:51.661415Z'
WHERE "PermisoId" = 15 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-05T16:18:51.661415Z'
WHERE "PermisoId" = 16 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-05T16:18:51.661416Z'
WHERE "PermisoId" = 17 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-05T16:18:51.661416Z'
WHERE "PermisoId" = 18 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-05T16:18:51.661416Z'
WHERE "PermisoId" = 19 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-05T16:18:51.661416Z'
WHERE "PermisoId" = 20 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-05T16:18:51.661416Z'
WHERE "PermisoId" = 21 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-05T16:18:51.661416Z'
WHERE "PermisoId" = 22 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-05T16:18:51.661417Z'
WHERE "PermisoId" = 23 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-05T16:18:51.661417Z'
WHERE "PermisoId" = 24 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-05T16:18:51.661417Z'
WHERE "PermisoId" = 25 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-05T16:18:51.661418Z'
WHERE "PermisoId" = 26 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-05T16:18:51.661418Z'
WHERE "PermisoId" = 27 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-05T16:18:51.661419Z'
WHERE "PermisoId" = 28 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-05T16:18:51.66142Z'
WHERE "PermisoId" = 29 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-05T16:18:51.66142Z'
WHERE "PermisoId" = 30 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-05T16:18:51.66142Z'
WHERE "PermisoId" = 31 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-05T16:18:51.66142Z'
WHERE "PermisoId" = 32 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-05T16:18:51.66142Z'
WHERE "PermisoId" = 33 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-05T16:18:51.66142Z'
WHERE "PermisoId" = 34 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-05T16:18:51.661421Z'
WHERE "PermisoId" = 35 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-05T16:18:51.661421Z'
WHERE "PermisoId" = 36 AND "RolId" = 1;

UPDATE "Usuarios" SET "PasswordHash" = 'AQAAAAIAAYagAAAAEODyPUr/laH7KEeziRIn9A8YIPSkHngZPQJM1oM28dIU0NYm3E5yYTsAOpait71Ufg=='
WHERE "Id" = 1;

INSERT INTO "Usuarios" ("Id", "Activo", "Comisiones", "Departamento", "Email", "FechaContratacion", "FechaCreation", "Nombre", "PasswordHash", "Puesto", "RefreshToken", "RefreshTokenExpiryTime", "SalarioBase", "SuperiorId", "Username")
VALUES (99, TRUE, NULL, NULL, 'sistema@crmsarritel.com', NULL, TIMESTAMPTZ '2024-01-01T00:00:00Z', 'SISTEMA (Organizaci├│n)', 'AQAAAAIAAYagAAAAEOxRb+cfIXrfK9Dfo/leKSmFjLfze7y6C9zssLcb+WJslANBlhLqbFhtci2KvyzvwA==', NULL, NULL, NULL, NULL, NULL, 'sistema');

INSERT INTO "UsuarioRoles" ("RolId", "UsuarioId", "FechaAsignacion")
VALUES (1, 99, TIMESTAMPTZ '2024-01-01T00:00:00Z');

CREATE INDEX "IX_ReparticionesComision_EquipoId" ON "ReparticionesComision" ("EquipoId");

CREATE INDEX "IX_Equipos_JefeEquipoId" ON "Equipos" ("JefeEquipoId");

CREATE INDEX "IX_CarpetaReglasComision_ReglaComisionId" ON "CarpetaReglasComision" ("ReglaComisionId");

CREATE INDEX "IX_CarpetasReglas_ProveedorId" ON "CarpetasReglas" ("ProveedorId");

CREATE INDEX "IX_ProductoCarpetas_CarpetaReglasId" ON "ProductoCarpetas" ("CarpetaReglasId");

ALTER TABLE "Equipos" ADD CONSTRAINT "FK_Equipos_Usuarios_JefeEquipoId" FOREIGN KEY ("JefeEquipoId") REFERENCES "Usuarios" ("Id") ON DELETE SET NULL;

ALTER TABLE "ReparticionesComision" ADD CONSTRAINT "FK_ReparticionesComision_Equipos_EquipoId" FOREIGN KEY ("EquipoId") REFERENCES "Equipos" ("Id") ON DELETE SET NULL;

ALTER TABLE "ReparticionesComision" ADD CONSTRAINT "FK_ReparticionesComision_Roles_RolId" FOREIGN KEY ("RolId") REFERENCES "Roles" ("Id");

SELECT setval(
    pg_get_serial_sequence('"Usuarios"', 'Id'),
    GREATEST(
        (SELECT MAX("Id") FROM "Usuarios") + 1,
        nextval(pg_get_serial_sequence('"Usuarios"', 'Id'))),
    false);

INSERT INTO "__EFMigrationsHistory" ("MigrationId", "ProductVersion")
VALUES ('20260405161855_ReconciledSystemV1', '10.0.2');

COMMIT;

START TRANSACTION;
UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-05T16:55:11.392408Z'
WHERE "PermisoId" = 1 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-05T16:55:11.392488Z'
WHERE "PermisoId" = 2 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-05T16:55:11.392488Z'
WHERE "PermisoId" = 3 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-05T16:55:11.392488Z'
WHERE "PermisoId" = 4 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-05T16:55:11.392489Z'
WHERE "PermisoId" = 5 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-05T16:55:11.392489Z'
WHERE "PermisoId" = 6 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-05T16:55:11.392489Z'
WHERE "PermisoId" = 7 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-05T16:55:11.392489Z'
WHERE "PermisoId" = 8 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-05T16:55:11.392489Z'
WHERE "PermisoId" = 9 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-05T16:55:11.392489Z'
WHERE "PermisoId" = 10 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-05T16:55:11.39249Z'
WHERE "PermisoId" = 11 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-05T16:55:11.39249Z'
WHERE "PermisoId" = 12 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-05T16:55:11.39249Z'
WHERE "PermisoId" = 13 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-05T16:55:11.39249Z'
WHERE "PermisoId" = 14 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-05T16:55:11.39249Z'
WHERE "PermisoId" = 15 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-05T16:55:11.39249Z'
WHERE "PermisoId" = 16 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-05T16:55:11.39249Z'
WHERE "PermisoId" = 17 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-05T16:55:11.39249Z'
WHERE "PermisoId" = 18 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-05T16:55:11.392491Z'
WHERE "PermisoId" = 19 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-05T16:55:11.392491Z'
WHERE "PermisoId" = 20 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-05T16:55:11.392491Z'
WHERE "PermisoId" = 21 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-05T16:55:11.392491Z'
WHERE "PermisoId" = 22 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-05T16:55:11.392491Z'
WHERE "PermisoId" = 23 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-05T16:55:11.392491Z'
WHERE "PermisoId" = 24 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-05T16:55:11.392491Z'
WHERE "PermisoId" = 25 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-05T16:55:11.392491Z'
WHERE "PermisoId" = 26 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-05T16:55:11.392492Z'
WHERE "PermisoId" = 27 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-05T16:55:11.392492Z'
WHERE "PermisoId" = 28 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-05T16:55:11.392492Z'
WHERE "PermisoId" = 29 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-05T16:55:11.392492Z'
WHERE "PermisoId" = 30 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-05T16:55:11.392492Z'
WHERE "PermisoId" = 31 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-05T16:55:11.392492Z'
WHERE "PermisoId" = 32 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-05T16:55:11.392492Z'
WHERE "PermisoId" = 33 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-05T16:55:11.392492Z'
WHERE "PermisoId" = 34 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-05T16:55:11.392492Z'
WHERE "PermisoId" = 35 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-05T16:55:11.392492Z'
WHERE "PermisoId" = 36 AND "RolId" = 1;

UPDATE "Usuarios" SET "PasswordHash" = 'AQAAAAIAAYagAAAAEDDnC9FUUz9/n7FbmP/NP75bJL2bnCMAKZOjR/G6JGNr1ZFWRlX/JErHXQTAw07kig=='
WHERE "Id" = 1;

UPDATE "Usuarios" SET "PasswordHash" = 'AQAAAAIAAYagAAAAEGAuL3oXBJ91Ia4oi/cbjeXsV0Tq2fh+NKEm7m87n+DRvhQPM374PByb8LARRAJxtg=='
WHERE "Id" = 99;

INSERT INTO "__EFMigrationsHistory" ("MigrationId", "ProductVersion")
VALUES ('20260405165514_RebuildReconciledSystemFinalV1', '10.0.2');

COMMIT;

START TRANSACTION;
UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-05T17:02:53.065503Z'
WHERE "PermisoId" = 1 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-05T17:02:53.065578Z'
WHERE "PermisoId" = 2 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-05T17:02:53.065579Z'
WHERE "PermisoId" = 3 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-05T17:02:53.065579Z'
WHERE "PermisoId" = 4 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-05T17:02:53.065579Z'
WHERE "PermisoId" = 5 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-05T17:02:53.065579Z'
WHERE "PermisoId" = 6 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-05T17:02:53.065579Z'
WHERE "PermisoId" = 7 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-05T17:02:53.065579Z'
WHERE "PermisoId" = 8 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-05T17:02:53.065579Z'
WHERE "PermisoId" = 9 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-05T17:02:53.065579Z'
WHERE "PermisoId" = 10 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-05T17:02:53.065579Z'
WHERE "PermisoId" = 11 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-05T17:02:53.065579Z'
WHERE "PermisoId" = 12 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-05T17:02:53.065579Z'
WHERE "PermisoId" = 13 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-05T17:02:53.065579Z'
WHERE "PermisoId" = 14 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-05T17:02:53.065579Z'
WHERE "PermisoId" = 15 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-05T17:02:53.065579Z'
WHERE "PermisoId" = 16 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-05T17:02:53.065582Z'
WHERE "PermisoId" = 17 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-05T17:02:53.065582Z'
WHERE "PermisoId" = 18 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-05T17:02:53.065582Z'
WHERE "PermisoId" = 19 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-05T17:02:53.065582Z'
WHERE "PermisoId" = 20 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-05T17:02:53.065582Z'
WHERE "PermisoId" = 21 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-05T17:02:53.065582Z'
WHERE "PermisoId" = 22 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-05T17:02:53.065583Z'
WHERE "PermisoId" = 23 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-05T17:02:53.065583Z'
WHERE "PermisoId" = 24 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-05T17:02:53.065583Z'
WHERE "PermisoId" = 25 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-05T17:02:53.065583Z'
WHERE "PermisoId" = 26 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-05T17:02:53.065583Z'
WHERE "PermisoId" = 27 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-05T17:02:53.065583Z'
WHERE "PermisoId" = 28 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-05T17:02:53.065583Z'
WHERE "PermisoId" = 29 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-05T17:02:53.065583Z'
WHERE "PermisoId" = 30 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-05T17:02:53.065583Z'
WHERE "PermisoId" = 31 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-05T17:02:53.065583Z'
WHERE "PermisoId" = 32 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-05T17:02:53.065583Z'
WHERE "PermisoId" = 33 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-05T17:02:53.065583Z'
WHERE "PermisoId" = 34 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-05T17:02:53.065583Z'
WHERE "PermisoId" = 35 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-05T17:02:53.065584Z'
WHERE "PermisoId" = 36 AND "RolId" = 1;

UPDATE "Usuarios" SET "PasswordHash" = 'AQAAAAIAAYagAAAAEJPv/rtsyVGD1HN3WpQooEhrdoUWlRi4PKwOnVXMcIc3PcFL/OZ7daGMkcq9wCv2HA=='
WHERE "Id" = 1;

UPDATE "Usuarios" SET "PasswordHash" = 'AQAAAAIAAYagAAAAEPeuciopUvZvIpZTmMryAJpuI3BSTDG/RddionedA6pI3LOXx3GAVGt56ijU8UlWsg=='
WHERE "Id" = 99;


COMMIT;

START TRANSACTION;
UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-05T17:18:05.034876Z'
WHERE "PermisoId" = 1 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-05T17:18:05.03501Z'
WHERE "PermisoId" = 2 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-05T17:18:05.035011Z'
WHERE "PermisoId" = 3 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-05T17:18:05.035011Z'
WHERE "PermisoId" = 4 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-05T17:18:05.035011Z'
WHERE "PermisoId" = 5 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-05T17:18:05.035011Z'
WHERE "PermisoId" = 6 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-05T17:18:05.035011Z'
WHERE "PermisoId" = 7 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-05T17:18:05.035011Z'
WHERE "PermisoId" = 8 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-05T17:18:05.035011Z'
WHERE "PermisoId" = 9 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-05T17:18:05.035011Z'
WHERE "PermisoId" = 10 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-05T17:18:05.035012Z'
WHERE "PermisoId" = 11 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-05T17:18:05.035012Z'
WHERE "PermisoId" = 12 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-05T17:18:05.035012Z'
WHERE "PermisoId" = 13 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-05T17:18:05.035012Z'
WHERE "PermisoId" = 14 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-05T17:18:05.035012Z'
WHERE "PermisoId" = 15 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-05T17:18:05.035012Z'
WHERE "PermisoId" = 16 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-05T17:18:05.035013Z'
WHERE "PermisoId" = 17 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-05T17:18:05.035013Z'
WHERE "PermisoId" = 18 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-05T17:18:05.035013Z'
WHERE "PermisoId" = 19 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-05T17:18:05.035013Z'
WHERE "PermisoId" = 20 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-05T17:18:05.035013Z'
WHERE "PermisoId" = 21 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-05T17:18:05.035013Z'
WHERE "PermisoId" = 22 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-05T17:18:05.035013Z'
WHERE "PermisoId" = 23 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-05T17:18:05.035013Z'
WHERE "PermisoId" = 24 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-05T17:18:05.035014Z'
WHERE "PermisoId" = 25 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-05T17:18:05.035014Z'
WHERE "PermisoId" = 26 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-05T17:18:05.035014Z'
WHERE "PermisoId" = 27 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-05T17:18:05.035014Z'
WHERE "PermisoId" = 28 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-05T17:18:05.035014Z'
WHERE "PermisoId" = 29 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-05T17:18:05.035014Z'
WHERE "PermisoId" = 30 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-05T17:18:05.035014Z'
WHERE "PermisoId" = 31 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-05T17:18:05.035015Z'
WHERE "PermisoId" = 32 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-05T17:18:05.035015Z'
WHERE "PermisoId" = 33 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-05T17:18:05.035015Z'
WHERE "PermisoId" = 34 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-05T17:18:05.035015Z'
WHERE "PermisoId" = 35 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-05T17:18:05.035015Z'
WHERE "PermisoId" = 36 AND "RolId" = 1;

UPDATE "Usuarios" SET "PasswordHash" = 'AQAAAAIAAYagAAAAEKyQ0+++j9iou9e7qbFxfqcoYfYhkl7Esc+LhYq3FhdcHkny24MYpcVOYJf+Ppwnug=='
WHERE "Id" = 1;

UPDATE "Usuarios" SET "PasswordHash" = 'AQAAAAIAAYagAAAAEPmRoyD+CC1rcYCz4bkz+YoJKuBzLf/oX+ie3bd4ntXkRIG4JwhadxFQufn+JstNXw=='
WHERE "Id" = 99;


COMMIT;


