Build started...
Build succeeded.
START TRANSACTION;
UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-01T18:30:27.066077Z'
WHERE "PermisoId" = 1 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-01T18:30:27.066227Z'
WHERE "PermisoId" = 2 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-01T18:30:27.066228Z'
WHERE "PermisoId" = 3 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-01T18:30:27.066228Z'
WHERE "PermisoId" = 4 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-01T18:30:27.066228Z'
WHERE "PermisoId" = 5 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-01T18:30:27.066229Z'
WHERE "PermisoId" = 6 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-01T18:30:27.066229Z'
WHERE "PermisoId" = 7 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-01T18:30:27.066229Z'
WHERE "PermisoId" = 8 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-01T18:30:27.066229Z'
WHERE "PermisoId" = 9 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-01T18:30:27.066229Z'
WHERE "PermisoId" = 10 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-01T18:30:27.06623Z'
WHERE "PermisoId" = 11 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-01T18:30:27.06623Z'
WHERE "PermisoId" = 12 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-01T18:30:27.06623Z'
WHERE "PermisoId" = 13 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-01T18:30:27.06623Z'
WHERE "PermisoId" = 14 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-01T18:30:27.06623Z'
WHERE "PermisoId" = 15 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-01T18:30:27.06623Z'
WHERE "PermisoId" = 16 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-01T18:30:27.066231Z'
WHERE "PermisoId" = 17 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-01T18:30:27.066231Z'
WHERE "PermisoId" = 18 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-01T18:30:27.066231Z'
WHERE "PermisoId" = 19 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-01T18:30:27.066231Z'
WHERE "PermisoId" = 20 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-01T18:30:27.066231Z'
WHERE "PermisoId" = 21 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-01T18:30:27.066231Z'
WHERE "PermisoId" = 22 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-01T18:30:27.066232Z'
WHERE "PermisoId" = 23 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-01T18:30:27.066232Z'
WHERE "PermisoId" = 24 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-01T18:30:27.066232Z'
WHERE "PermisoId" = 25 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-01T18:30:27.066232Z'
WHERE "PermisoId" = 26 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-01T18:30:27.066232Z'
WHERE "PermisoId" = 27 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-01T18:30:27.066232Z'
WHERE "PermisoId" = 28 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-01T18:30:27.066232Z'
WHERE "PermisoId" = 29 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-01T18:30:27.066233Z'
WHERE "PermisoId" = 30 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-01T18:30:27.066233Z'
WHERE "PermisoId" = 31 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-01T18:30:27.066233Z'
WHERE "PermisoId" = 32 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-01T18:30:27.066233Z'
WHERE "PermisoId" = 33 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-01T18:30:27.066233Z'
WHERE "PermisoId" = 34 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-01T18:30:27.066233Z'
WHERE "PermisoId" = 35 AND "RolId" = 1;

UPDATE "RolPermisos" SET "FechaAsignacion" = TIMESTAMPTZ '2026-04-01T18:30:27.066233Z'
WHERE "PermisoId" = 36 AND "RolId" = 1;

UPDATE "Usuarios" SET "PasswordHash" = 'AQAAAAIAAYagAAAAEA0p+sF1vpuXNw2+WErqGUJlkpy9rHFeTn9FhZZjaA11lFQF579tRJZ8sQYYB3pFyQ=='
WHERE "Id" = 1;

INSERT INTO "Permisos" ("Nombre", "Modulo", "Descripcion") VALUES ('ventas:view_all', 'Ventas', 'Permite ver ventas de todos los usuarios');

INSERT INTO "Permisos" ("Nombre", "Modulo", "Descripcion") VALUES ('comisiones:view_all', 'Comisiones', 'Permite ver comisiones de todos los usuarios');

INSERT INTO "RolPermisos" ("RolId", "PermisoId", "FechaAsignacion") SELECT 1, "Id", NOW() FROM "Permisos" WHERE "Nombre" IN ('ventas:view_all', 'comisiones:view_all');

INSERT INTO "__EFMigrationsHistory" ("MigrationId", "ProductVersion")
VALUES ('20260401183029_AddViewAllPermissions', '10.0.2');

COMMIT;


